body{
        background-color:  yellowgreen;
    }

    hr{
        border-style: none;
        border-top-style: dotted;
        border-width: 5px;
        border-color: grey;
        width: 5%;        
    }

    h1{
        color : yellow;
    }
    h2{
        color : yellow;
    }
    
    h3{
        color : yellow;
    }
    
    h4{
        color : yellow;
    }
    h5      {
        color : yellow;
    }
    
    .hobbies{
        background-color: aqua;
    }

    .coding{
        background-color : white;
    }
    